{include file="common/sidenav" /}

<!--body-->
<div class="layui-container">

    <div class="layui-row layui-col-space15">

        <!--左边-->
        <div class="layui-col-md8">

            <!--轮播图-->
            <div class="fly-panel layui-hide-xs">
                <div class="layui-row fly-panel-main">
                    <div class="layui-carousel fly-banner" id="topBanner">
                        <div carousel-item>
                            {volist name='slideList' id='vo'}
                                <a href="{:url($vo.link_url)}">
                                    <img src="{$vo.url}" alt="qyyt">
                                </a>
                            {/volist}
                        </div>
                    </div>
                </div>
            </div>

            <!--文章内容-->
            <div class="fly-panel">

                <!--文章筛选-->
                <div class="fly-panel-title fly-filter">
                    <a href="" class="layui-this">按最新</a>
                    <span class="fly-mid"></span>
                    <a href="">按最热</a>
                </div>

                <!--文章主体-->
                <ul class="fly-list">
                    {volist name='articleList' id='vo'}
                    <li>
                        <a href="{:url('article/detail',['id' => $vo['id']])}">
                            <div class="fly-avatar">
                                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
                            </div>
                            <h2>
                                <span class="layui-badge">原创</span>
                                <span>{$vo.title}</span>
                            </h2>
                            <div class="fly-list-info">
                                <span class="fly-black">{$vo.admin.username}</span>
                                <span>{$vo.createtime}</span>
                                <span class="fly-list-nums">{$vo['virtual_view'] + $vo['actual_view']}</span>
                            </div>
                            <div class="fly-list-badge">
                                <span class="layui-badge layui-bg-red">精帖</span>
                            </div>
                        </a>
                    </li>
                    {/volist}
                </ul>

                <!--加载更多-->
                <div class="fly-center">
                    <div class="laypage-main">
                        <a href="sub/news.html" class="laypage-next">加载更多</a>
                    </div>
                </div>
            </div>

        </div>



    </div>

</div>


