
<div class="fly-panel fly-column">
    <div class="layui-container">

        <!--nav主体-->
        <ul class="layui-clear">
            <li class="layui-hide-xs layui-this"><a href="#">首页</a></li>
            {volist name='categoryList' id='vo'}
            <li><a href="index/index?category_id={$vo.id}">{$vo.name}</a></li>
            {/volist}
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><span class="fly-mid"></span></li>
            <li class="layui-hide-xs layui-hide-sm layui-show-md-inline-block"><a href="user/collect.html">我收藏的贴</a>
            </li>
        </ul>

        <!--搜索-->
        <div class="fly-column-right layui-hide-xs">
            <span class="fly-search"><i class="layui-icon"></i></span>
        </div>

    </div>
</div>
