<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>标准</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="填写网页内容描述" />
  <meta name="keywords" content="填写网页搜索关键词" />
  <meta name="author" content="作者">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,maximum-scale=1.0, user-scalable=0" />
  <script src="../js/rem.js"></script>
  <link rel="stylesheet" href="../css/base.css">
  <link rel="stylesheet" href="../css/common.css">
  <link rel="stylesheet" href="../css/mescroll.min.css">
  <link rel="stylesheet" href="../css/swiper-3.3.1.min.css">
</head>
<body>
<div class="k-head">
  <div class="back"></div>
  <div class="title k-overflow">文章</div>
</div>

<div class="k-wrap">

  <ul class="k-article-nav">
    <li></li>
  </ul>

</div>

<script src="../js/jquery-2.1.4.min.js"></script>
<script src="../js/mescroll.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../js/swiper-3.3.1.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" charset="utf-8">
  $(function(){
    //导航菜单
    var mescrollArr=new Array(12);//每个菜单对应一个mescroll对象

    //当前菜单下标
    var curNavIndex=0;

    //初始化首页
    mescrollArr[curNavIndex]=initMescroll(curNavIndex);

    /*初始化轮播*/
    var swiper=new Swiper('#swiper', {
      observer: true,
      onTransitionEnd: function(swiper){
        var i=swiper.activeIndex;//轮播切换完毕的事件
        changePage(i);
      }
    });

    /*菜单点击事件*/
    $("#nav li").click(function(){
      var i=Number($(this).attr("i"));
      swiper.slideTo(i);//以轮播的方式切换列表
    })

    /*切换列表*/
    function changePage(i) {
      if(curNavIndex!=i) {
        //更改列表条件
        var curNavDom;//当前菜单项
        $("#nav li").each(function(n,dom){
          if (dom.getAttribute("i")==i) {
            dom.classList.add("active");
            curNavDom=dom;
          } else{
            dom.classList.remove("active");
          }
        });
        //菜单项居中动画
        var scrollxContent=document.getElementById("scrollxContent");
        var star = scrollxContent.scrollLeft;//当前位置
        var end = curNavDom.offsetLeft + curNavDom.clientWidth/2 - document.body.clientWidth/2; //居中
        mescrollArr[curNavIndex].getStep(star, end, function(step,timer){
          scrollxContent.scrollLeft=step; //从当前位置逐渐移动到中间位置,默认时长300ms
        });
        //隐藏当前回到顶部按钮
        mescrollArr[curNavIndex].hideTopBtn();
        //取出菜单所对应的mescroll对象,如果未初始化则初始化
        if(mescrollArr[i]==null){
          mescrollArr[i]=initMescroll(i);
        }else{
          //检查是否需要显示回到到顶按钮
          var curMescroll=mescrollArr[i];
          var curScrollTop=curMescroll.getScrollTop();
          if(curScrollTop>=curMescroll.optUp.toTop.offset){
            curMescroll.showTopBtn();
          }else{
            curMescroll.hideTopBtn();
          }
        }
        //更新标记
        curNavIndex=i;
      }
    }

    /*创建MeScroll对象*/
    function initMescroll(index){
      //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
      var mescroll = new MeScroll("mescroll"+index, {
        //上拉加载的配置项
        up: {
          callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page) { getListData(page); }
          isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
          noMoreSize: 4, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看; 默认5
          empty: {
            icon: "../res/img/mescroll-empty.png", //图标,默认null
            tip: "暂无相关数据~", //提示
            btntext: "去逛逛 >", //按钮,默认""
            btnClick: function(){//点击按钮的回调,默认null
              alert("点击了按钮,具体逻辑自行实现");
            }
          },
          clearEmptyId: "dataList"+index,
          toTop:{ //配置回到顶部按钮
            src : "../res/img/mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
            //offset : 1000
          },
          isBounce:false,
          lazyLoad: {
            use: true // 是否开启懒加载,默认false
          }
        }
      });
      return mescroll;
    }

    /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
    function getListData(page){
      //联网加载数据
      var dataIndex=curNavIndex; //记录当前联网的nav下标,防止快速切换时,联网回来curNavIndex已经改变的情况;
      getListDataFromNet(dataIndex, page.num, page.size, function(pageData){
        //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
        //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
        console.log("dataIndex="+dataIndex+", curNavIndex="+curNavIndex+", page.num="+page.num+", page.size="+page.size+", pageData.length="+pageData.length);

        //方法一(推荐): 后台接口有返回列表的总页数 totalPage
        //mescrollArr[dataIndex].endByPage(pageData.length, totalPage); //必传参数(当前页的数据个数, 总页数)

        //方法二(推荐): 后台接口有返回列表的总数据量 totalSize
        //mescrollArr[dataIndex].endBySize(pageData.length, totalSize); //必传参数(当前页的数据个数, 总数据量)

        //方法三(推荐): 您有其他方式知道是否有下一页 hasNext
        //mescrollArr[dataIndex].endSuccess(pageData.length, hasNext); //必传参数(当前页的数据个数, 是否有下一页true/false)

        //方法四 (不推荐),会存在一个小问题:比如列表共有20条数据,每页加载10条,共2页.如果只根据当前页的数据个数判断,则需翻到第三页才会知道无更多数据,如果传了hasNext,则翻到第二页即可显示无更多数据.
        mescrollArr[dataIndex].endSuccess(pageData.length);

        //设置列表数据
        setListData(pageData,dataIndex);
      }, function(){
        //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
        mescrollArr[dataIndex].endErr();
      });
    }

    /*设置列表数据
     * pageData 当前页的数据
     * dataIndex 数据属于哪个nav */
    function setListData(pageData,dataIndex){
      var listDom=document.getElementById("dataList"+dataIndex);
      for (var i = 0; i < pageData.length; i++) {
        var pd=pageData[i];

        var str='<img class="pd-img" src="../res/img/loading-sq.png" imgurl="'+pd.pdImg+'"/>';
        str+='<p class="pd-name">'+pd.pdName+'</p>';
        str+='<p class="pd-price">'+pd.pdPrice+' 元</p>';
        str+='<p class="pd-sold">已售'+pd.pdSold+'件</p>';

        var liDom=document.createElement("li");
        liDom.innerHTML=str;
        listDom.appendChild(liDom);
      }
    }

    /*联网加载列表数据
     在您的实际项目中,请参考官方写法: http://www.mescroll.com/api.html#tagUpCallback
     请忽略getListDataFromNet的逻辑,这里仅仅是在本地模拟分页数据,本地演示用
     实际项目以您服务器接口返回的数据为准,无需本地处理分页.
     * */
    function getListDataFromNet(curNavIndex,pageNum,pageSize,successCallback,errorCallback) {
      //延时一秒,模拟联网
      setTimeout(function () {
        $.ajax({
          type: 'GET',
          url: '../res/pdlist1.json',
//		                url: '../res/pdlist1.json?curNavIndex='+curNavIndex+'&num='+pageNum+'&size='+pageSize,
          dataType: 'json',
          success: function(data){
            var listData=[];

            if(curNavIndex==0){
              //首页 (模拟分页数据)
              for (var i = (pageNum-1)*pageSize; i < pageNum*pageSize; i++) {
                if(i==data.length) break;
                listData.push(data[i]);
              }

            }else {
              //关键词筛选模拟数据
              var keyword=["首页","奶粉","面膜","图书","果汁","奶瓶","美素","璐拉","启赋","雅培","花王","韩蜜"];
              var curword=keyword[curNavIndex];
              for (var i = 0; i < data.length; i++) {
                if (data[i].pdName.indexOf(curword)!=-1) {
                  listData.push(data[i]);
                }
              }
            }

            //回调
            successCallback(listData);
          },
          error: errorCallback
        });
      },500)
    }

  });
</script>

</body>
</html>